--extra-index-url https://pypi.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu128
--only-binary=:all: transformer_engine

torch>=2.7.0
torchvision
torchaudio
transformer_engine[pytorch]
nvidia-cudnn-cu12
torchmetrics
torchdiffeq
einops
eindex
decord
ray[air]
wandb
pyrefly
jaxtyping
typeguard
diffusers
transformers
datasets
webdataset
accelerate
